# Lesson 26: Python Dictionary I

---

### Teacher-Student Tasks

In the previous classes, you have used a CSV file to explore data, clean it and analyze it for the respective problem statements. Today, you will learn how you can create a CSV using Pandas DataFrame. Later you use the same CSV file to do your work either in Google Sheets or Microsoft Excel or in some other spreadsheet processing software. In the process, we will also learn another data structure called Python dictionaries which becomes an integral data structure in the domain of data engineering (to acquire the raw data in real-time or non-real-time and make it usable by structuring and organizing it) and data analysis.

So far, you have learned about Python lists in detail and Python tuples very briefly. From this class onwards, you will learn about a Python dictionary and its usefulness in terms of data storage.

---

#### Task 1: Python Dictionary

Let's quickly create a CSV file from a Python dictionary. Then, we will learn it in detail. The CSV file should contain five columns namely `"linear", "squared", "cubed",` and `"power_of_two"`. Each of these columns should contain the corresponding values between 1 to 100 such that:

- The `"linear"` column contains the first 100 natural numbers.

- The `"squared"` column contains the squares of the first 100 natural numbers.

- The `"cubed"` column contains the cubes of the first 100 natural numbers.

- The `"power_of_two"` column contains the values which are two raised to the power of the first 100 natural numbers.

In [ ]:
# S1.1: Write the codes as directed below. 
new_dict = {
    "linear" : [i for i in range(1, 101)], # Create a Python list containing the first 100 natural numbers.
    "squared" : [i ** 2 for i in range(1, 101)], # Create a Python list containing the squares of the first 100 natural numbers.
    "cubed" : [i ** 3 for i in range(1, 101)], # Create a Python list containing the cubes of the first 100 natural numbers
    "power_of_two" : [2 ** i for i in range(1, 101)] # Create a Python list containing the powers of the two of the first 100 natural numbers
}

**Note:** The above code will not display any output.

Thus, we created a dictionary having 5 keys that will serve as the 5 columns for the CSV file.

---

#### Task 2: The `from_dict()` Function

Now, let's convert the above dictionary into a Pandas DataFrame using the `from_dict()` function. To apply this function, you have to use the following syntax:

**Syntax:** `pd.DataFrame.from_dict(some_dictionary)`

In [ ]:
# S2.1: Create a Pandas DataFrame using the 'new_dict' dictionary by applying the 'from_dict()' function.
# Import the 'pandas' module
import pandas as pd
new_df = pd.DataFrame.from_dict(new_dict)
new_df

    linear  squared    cubed                     power_of_two
0        1        1        1                                2
1        2        4        8                                4
2        3        9       27                                8
3        4       16       64                               16
4        5       25      125                               32
..     ...      ...      ...                              ...
95      96     9216   884736    79228162514264337593543950336
96      97     9409   912673   158456325028528675187087900672
97      98     9604   941192   316912650057057350374175801344
98      99     9801   970299   633825300114114700748351602688
99     100    10000  1000000  1267650600228229401496703205376

[100 rows x 4 columns]

As you can see, a new DataFrame is created. It is stored in the `new_df` variable. It has 100 rows having indices `0` to `99`. It also has the four required columns.

**Note:** Unlike a Python list, the dictionary does not store values in the ordered form. It means that you can't retrieve an item from a dictionary using indices.

---

#### Task 3: The `orient` Parameter

In the above DataFrame created from a Python dictionary, you can label `"linear", "squared", "cubed",` and `"power_of_two"` as row indices. Consequently, the values `0` to `99` will become columns. This can be done by passing `'index'` as the value to the `orient` parameter inside the `from_dict()` function. Here's the syntax of `from_dict()` function:

**Syntax:** `pd.DataFrame.from_dict(some_dictionary, orient='index')`

In [ ]:
# S3.1: Create another Pandas DataFrom using the 'new_dict' having "linear", "squared", "cubed" and "power_of_two" as row indices.
other_df = pd.DataFrame.from_dict(new_dict,orient='index')
other_df

              0   ...                               99
linear         1  ...                              100
squared        1  ...                            10000
cubed          1  ...                          1000000
power_of_two   2  ...  1267650600228229401496703205376

[4 rows x 100 columns]

As you can see, a new DataFrame is created. It is stored in the `another_df` variable. It has 4 rows having indices `"linear", "squared", "cubed",` and `"power_of_two"` as desired. It has 100 columns as well.

---

#### Task 4: Creating a CSV File from a Python Dictionary

To create a `CSV` file from a Python dictionary, we need to use the following code:

```
from google.colab import files
csv_file = data_frame.to_csv(index=True)

with open('filename.csv', 'w') as f:
  f.write(csv_file)

files.download('filename.csv')
```

Where, 

- `data_frame` is a variable storing a Pandas DataFrame from which a `CSV` file needs to be created.

- `filename.csv` is the name of the required CSV file that needs to be downloaded once created.

Let's create a CSV file from the `new_df` DataFrame and name the file as `data.csv`. 

**Note:** After running the code below, a new dialogue box will appear prompting you to save the file on your computer.

In [ ]:
# S4.1: Run the code below.
from google.colab import files
csv_file = new_df.to_csv(index=True)

with open('csvfile.csv','w') as f:
  f.write(csv_file)


files.download('csvfile.csv')

**Note:** The above code will not display any output.

So, as you can see we have created a CSV file using a Python dictionary. Now, let's learn it in detail.

---

#### Task 5: Python Dictionary

Similar to a Python list, a Python dictionary is also a data structure, i.e., it stores multiple values in it. **A python dictionary is a collection of key-value pairs** where each key-value pair collectively constitutes an item stored in it.

An example of a key-value pair would be a specification of a smart-phone, as shown in the table below: 

|Key         |Value                  |
|------------|-----------------------|
|Front Camera|16 MP                  |
|Battery     |3300 mAh               |
|Processor   |Qualcomm Snapdragon 845|
|Display     |6.28 inches            |
|RAM         |6 GB                   |
|Rear Camera |16 MP + 20 MP          |
|Price (INR) |28990                  |
|Fast Charge |True                   |

Using the example shown in the table here, let's create a dictionary as a collection of key-value pairs. 

A dictionary is created using curly brackets (`{}`). A key and its corresponding value are mapped using the colon (`:`) sign and each key-value pair is separated by a comma.

In [ ]:
# S5.1: Create a dictionary as a collection of key-value pairs containing the items shown in the table above.
my_dict = {'front camera':'16 MP','battery':'3300 mAh','Processor':'Qualcomm Snapdragon 845',
           'Display':'6.28 inches','RAM':'6 GB','Rear Camera':'16 MP + 20 MP',
           'Price (INR)':28990,'Fast Charge':True}

my_dict

{'Display': '6.28 inches',
 'Fast Charge': True,
 'Price (INR)': 28990,
 'Processor': 'Qualcomm Snapdragon 845',
 'RAM': '6 GB',
 'Rear Camera': '16 MP + 20 MP',
 'battery': '3300 mAh',
 'front camera': '16 MP'}

In the above code, we have created a Python dictionary and stored it in the `my_dict` variable. The dictionary contains 8 key-value pairs separated by a comma. The keys are of `string` data type and the values are a mix of `string`, `int`, and `bool` data types. 

---



**Note:** Even though you store an item (a key-value pair) in a specific order, a Python dictionary disregards the order. Hence, unlike a Python list, a Python dictionary is a data structure containing an **unordered** collection of items.

If you print the dictionary, again and again, you will notice that the orders of the items keep on changing.

---

#### Task 6: Empty Python Dictionary

You can also create an empty dictionary$â€”$a dictionary that does not have any key-value pair$â€”$by simply writing curly brackets `{}` only.

In [ ]:
# S6.1: Create an empty dictionary.
empty_dict = {}
empty_dict

{}

In the above code, we have created an empty Python dictionary and stored it in the `empty_dict` variable.

To verify whether a data structure is a Python dictionary  or not, you can use the `type()` function:

In [ ]:
# S6.2: Verify that the data structure stored in the 'empty_dict' variable is a Python dictionary.
type(empty_dict)

dict

The `type()` function returns `dict` as an output which verifies that the value stored in the `empty_dict` variable is indeed a dictionary.

---

#### Task 7: Important Points about Python Dictionary

Here are some of the important points about a Python dictionary:

1. A key in a Python dictionary can be a `str` (string), `int` (integer), `float` (a floating-point number), and a `bool` (boolean) data type. Additionally, it can also be a tuple. In general, any immutable Python object can be a key in a Python dictionary. The term **immutable** means **unchangeable**.

2. Any Python object (whether mutable or immutable) or a data type can be a value in a Python dictionary.

Let's go through a few examples for keys and values in a Python dictionary.

**Booleans as keys**

In [ ]:
# S7.1: Create a Python dictionary whose keys are 'True' and 'False'. You can assign them any values.
bo_dict = {True:'Yes',False:'No'}
bo_dict

{False: 'No', True: 'Yes'}

**Float-point numbers as keys**

In [ ]:
# S7.2: Create a Python dictionary whose keys are some floating-point numbers. You can assign them any values.
flo_dict = {3.143:'Pie',2.71:'two'}
flo_dict

{2.71: 'two', 3.143: 'Pie'}

**Integers as keys**

In [ ]:
# S7.3: Create a Python dictionary whose keys are integer values. You can assign them any values.
int_dict = {1:'Composit Number',2:'even No'}
int_dict

{1: 'Composit Number', 2: 'even No'}

**Tuples as keys**

In [ ]:
# S7.4: Create a Python dictionary whose keys are some tuples. You can assign them any values.
tup_dict = {(1,3):'Prime Numbers',(2,4):'composite Numbers'}
tup_dict

{(1, 3): 'Prime Numbers', (2, 4): 'composite Numbers'}

**Lists as values**

In [ ]:
# S7.5: Create a Python dictionary whose values are some lists.
list_dict = {'Natural Numbers':[1,2],'Whole Numbers':[0,1,2]}
list_dict

{'Natural Numbers': [1, 2], 'Whole Numbers': [0, 1, 2]}

**Dictionaries as values**

In [ ]:
# S7.6: Create a Python dictionary whose values are some other dictionaries.
dict_dict = {'product':{'color1':'Red','color2':'Black','color3':'Blue'},'Specification':my_dict}
dict_dict

{'Specification': {'Display': '6.28 inches',
  'Fast Charge': True,
  'Price (INR)': 28990,
  'Processor': 'Qualcomm Snapdragon 845',
  'RAM': '6 GB',
  'Rear Camera': '16 MP + 20 MP',
  'battery': '3300 mAh',
  'front camera': '16 MP'},
 'product': {'color1': 'Red', 'color2': 'Black', 'color3': 'Blue'}}

**Tuples as values**

You will learn about tuples in detail in the upcoming classes.

In [ ]:
# S7.7: Create a Python dictionary whose values are tuples.
tup_dict = {'prime':(2,3,5,7),'composit':(2,4,6)}
tup_dict

{'composit': (2, 4, 6), 'prime': (2, 3, 5, 7)}

**Note:** a key in a dictionary must be unique. In other words, two items in a dictionary cannot have the same key. If a dictionary contains two items having the same key, then the item at the higher index will be accepted by the dictionary and the item at the lower index will be discarded.

In [ ]:
# S7.8: Create a dictionary having two identical keys but different values. 
dict1= {'super':'man','hot':'chocklet','super':'women'}
dict1

{'hot': 'chocklet', 'super': 'women'}

As you can see, the latest value for a key overrides its previous value.

**Note:** Two different keys in a dictionary can have the same value.

In [ ]:
# S7.9: Create a dictionary having two identical values but different keys. 
dict2 = {'super':'man','hot':'chocklet','bat':'man'}
dict2

{'bat': 'man', 'hot': 'chocklet', 'super': 'man'}

Lastly, to convert the lists returned by the `keys(), values()`, `items()` function to conventional Python lists, you can apply the `list()` function on top of them:

In [ ]:
# S7.10: Apply the 'list()' functions on top of the lists returned by the 'keys()', 'values()' & 'items()'. Print them as well.
print('Keys:',list(my_dict.keys()))
print('Values : ',list(my_dict.values()))
print('key:value',list(my_dict.items()))

Keys: ['front camera', 'battery', 'Processor', 'Display', 'RAM', 'Rear Camera', 'Price (INR)', 'Fast Charge']
Values :  ['16 MP', '3300 mAh', 'Qualcomm Snapdragon 845', '6.28 inches', '6 GB', '16 MP + 20 MP', 28990, True]
key:value [('front camera', '16 MP'), ('battery', '3300 mAh'), ('Processor', 'Qualcomm Snapdragon 845'), ('Display', '6.28 inches'), ('RAM', '6 GB'), ('Rear Camera', '16 MP + 20 MP'), ('Price (INR)', 28990), ('Fast Charge', True)]

Thus, we explored different types of keys and values that can be used in a Python dictionary.
 
 Let's pause here. In the next class, we will learn more about Python dictionaries.

---