# Lesson 9 - Python Lists III

---

#### Task 1: Multiple Data Types

A Python list can store values of different types. Recall that in one of the previous lesson, we created 4 different variables to store the attributes of a planet.  

(*Learned in Lesson : Variables and Data Types*)

||Mercury|
|-|-|
|Diameter (km)|4879|
|Gravity ($m/s^2$)|3.7|
|Ring|No|




**Q:** Do you remember the different data types in python?

**A:** There are four different data types. They are:
1. `int`: A numeric value without a digit after the decimal point. 
For example: `13, -244`, etc. 

2. `float`: A numeric value with a digit after the decimal point. 
For example: `2.71, -3.14898`, etc.

    **Note:** Both the `int` and `float` values can be positive or negative or `0`.

3. `str` (stands for string): Any value enclosed within single (`' '`) or double (`" "`) quotes. For example: `'Windows 10', '15 August 1947'`, etc.

4. `bool` (stands for boolean): Either `True` or `False`.

Let's store the name of the planet, its diameter, gravity, and whether it has a ring or not in a Python list:

In [ ]:
# S1.1: Create a list that contains "Mercury", its diameter, gravity, and whether it has a ring or not.
planet = ['Mercury',4879,3.7,False]

Hence, we can notice that a Python list is capable of storing items having different data types. Let us learn how to determine the number of items stored in a list.

---

#### Task 2: List Length
To see how many items are stored in a list, you can use a function called `len()`.



**Syntax:** `len(list_name)`

Let us find out the number of items stored in the `planet` list:

In [ ]:
# S2.1: Find the number of items stored in the 'planet' list.
len(planet)

4

Thus, the `len()` function returns the total number of items in the list. Let us learn how to access individual items of a list.

---

#### Task 3: List Indexing

Imagine a multi-story building. When you enter into the lift, you can see such buttons.



<img src="https://s3-whjr-v2-prod-bucket.whjr.online/da5ce5fe-b6e6-4625-9fdd-77305142334a.gif" />

- To move to the 2nd floor, you need to press **2**. 
- To move to the 5th floor, you need to press **5**.
- To come back to the ground floor, you need to press the **0** or **G** button.

So the floor number always starts with **0** and **G**. 

Similarly, in a list, the index which indicates the location of the element always starts with **0** and **not 1**. This is called as **Zero-Based Indexing.**


A list index is also similar to your roll number in your class in the school. But here's a catch: The roll number of the first student will be `1`. On the other hand, the roll number of the first item in a Python list is `0`. 

For example: In the `planet` list, the first item is `"Mercury"` so its index is `0`.

To get an item located at each index in a list, just write the list name followed by the square brackets `[], ` and inside the brackets, enter the index number.

**Syntax:** `list_name[index_number]`

In [ ]:
# S3.1: Print the items at each index in the 'planet' list.
print(planet[0])

Mercury

Imagine that you have a list containing `100` items. Getting each item of that list using this method will not be feasible. In such cases, you can retrieve every item using a loop called as `for` loop.
Let's first learn the `for` loop.

---

#### Task 4: The `for` Loop


The `for` loop is used to repeat or iterate a set of statements for a fixed number of times. 

**For e.g:** If we want to print the first `5` natural numbers using `for` loop.
First, we will use a ready-made function called `range()` inside `for` loop which generates consecutive natural numbers between two specific numbers.

```python
for i in range(1, 6):
  print(i)
```


The above code can be read as *for every number in the range of `1` to `6` and except `6`, print a number.* So, in the range of `1` to `6` and except `6`, there are `5` numbers starting from `1` to `5`. So, all these numbers in this range will get printed one by one. 

<img src="https://curriculum.whitehatjr.com/APT+Asset/Untitled-1.gif" width=600/>

**The range function:**

It is used to generate a range of numbers. 

**Syntax:** `range(start, end)`

Where,

- `start` (optional):  An integer that specifies from which position to start. Default is 0.
- `end` (required): An integer that specifies at which position to stop. This number is not included in the range.

**For e.g:**
1. `range(0,6)` $\Rightarrow$ Generates numbers from 0 to 5.
2.`range(6)` $\Rightarrow$ Generates numbers from 0 to 5.
3. `range(1,11)` $\Rightarrow$ Generates numbers from 1 to 10.
4. `range(11)` $\Rightarrow$ Generates numbers from 0 to 10.



Now, let's retrieve all the values of the `planet` list using the `for` loop:

In [ ]:
# S4.1: Using 'for' loop, print each element of the 'planet' list.
# 1. First, find out how many items are there in the 'planet' list and store it in the variable called num_items.
l = len(planet)

# 2. Now iterate through each item using the for loop.
for i in range(l):

  # 3. Now, write the print() function with 'i' and 'planet[i]' as inputs.
  print(planet[i])

Mercury
4879
3.7
False

Here:

- The value of `num_items` is `4` because the length of the `planet` list is `4` as it contains `4` items. 

- The `range()` function, takes `4` as input and generates numbers from `0` to `3`. The number `4` is excluded.

- The value of `i` also goes from `0` to `3`. Hence, `planet[i]` goes from `planet[0]` to `planet[3]`. Essentially, the variable `i` stores the values generated by the `range()` function, but only one value at-a-time.

- So, for every value of `i` the `print()` function takes `planet[i]` as input and prints each item contained in the planet list.

There is another way to get all the items from a Python list using a for loop:

In [ ]:
# S4.2: Demonstrate another way of getting all the items from a list using the 'for' loop.
for ele in planet:
  print(ele)

Mercury
4879
3.7
False

Here, the variable `i` does not take the numeric value because the `range()` function is not used here. So, the value of `i` goes from the first item of the `planet` list till the last item in the `planet` list.

**What if you want to print items of a list in reverse order?**

This can be achieved using **Negative Indexing**.

---

#### Task 5: Negative Indexing

You can also use negative indices to get items from a list. They help to retrieve items from a list in reverse order.

The negative indices begin with `-1` and go till `-n` where `n` is the number of items in a list.

- The last item in the list is located at the `-1` index.
- The first item in the list is located at the `-n` index.


<img src='https://curriculum.whitehatjr.com/APT+Asset/APT+C6+images/whj-python-list-apt-c8.gif' height=400>

Let us retrieve all the items of `planet` list using negative indexing.

In [ ]:
# S5.1: Use the negative indices to retrieve all the items from the 'planet' list.
print(planet[-4])

Mercury

Similarly, let us retrieve all the items from the `planet` list in the reverse order using `for` loop and neagtive indexing:

In [ ]:
# S5.2: Using the 'for' loop and negative indices, retrieve all the items from the 'planet' list in the reverse order.
for i in range(-1,-5,-1):
  print(planet[i])

for i in range(1,5):
  print(planet[-i])

False
3.7
4879
Mercury
False
3.7
4879
Mercury

---

#### Task  4: List Slicing

Suppose that I have a list of `10` cars that I own.

`my_cars = ['Chrysler', 'Lamborghini', 'Bugatti', 'Porsche', 'Ford', 'Rolls Royce', 'Suzuki', 'Bentley', 'Lexus', 'Tesla']`



Let's say, I want to see a list of only the first five cars, then I can use the concept of **list slicing**. 

To slice a list, write the name of the list followed by square brackets, and inside the square brackets, enter the **starting point** (in this case it is zero) followed by a colon sign (`:`) and the **ending point**.

**Syntax:** `list_name[start_index:end_index]`





Note that the item at the `end-index` will not be a part of the sub-list:

In [ ]:
# S4.1: Retrieve the items from a list using the slicing method by mentioning both the starting and ending indices.
my_cars = ['Chrysler', 'Lamborghini', 'Bugatti', 'Porsche', 'Ford', 'Rolls Royce', 'Suzuki', 'Bentley', 'Lexus', 'Tesla']

In `my_cars[0:5]` sub-list, the item at index `5` will not be included in the sub-list. The sub-list will contain the items ranging from indices `0` to `4` from the parent list.

If you do not specify the starting point, then Python assumes that you want to get the items starting from the first item of the list:

In [ ]:
# S4.2: Retrieve the first 5 items from the 'my_cars' Python list without mentioning the starting index.
my_cars[0:5]

['Chrysler', 'Lamborghini', 'Bugatti', 'Porsche', 'Ford']

Now, using the list slicing concept, you print all the cars stored in the `my_cars` list starting from `'Lamborghini'` to `'Bentley'`:

In [ ]:
# S4.3: Write a code to see all the cars in the list starting from 'Lamborghini' to 'Bentley'.
my_cars[1:8]

['Lamborghini',
 'Bugatti',
 'Porsche',
 'Ford',
 'Rolls Royce',
 'Suzuki',
 'Bentley']


To retrieve all the items from a list in the reverse order, you can also use the list slicing method with a negative index `-1` after the second colon (`:`) sign:

In [ ]:
# S4.3: Retrieve all the items from the 'my_cars' list in reverse order.
print(my_cars[::-1])

['Tesla', 'Lexus', 'Bentley', 'Suzuki', 'Rolls Royce', 'Ford', 'Porsche', 'Bugatti', 'Lamborghini', 'Chrysler']

As you can see in the output, the `my_cars` list is printed in the reverse order. Thus, we can use list slicing to obtain our desired list from an existing list.

---

#### Task 5: Index of an Item

Suppose that you want to find the index of `Ford` in the `my_cars` list, then you can use the `index()` function.

To find an index of an item, write the name of the list followed by the dot `(.)` operator followed by the `index()` function. Inside the `index()` function, enter the item whose index you wish to find.

**Syntax:** `list_name.index(item)`

**For example:**  `my_cars.index('Chrysler')` $\Rightarrow$ returns `0` as index of `'Chrysler'` is `0`.

In [ ]:
# S5.1: Find the index of 'Ford'.
my_cars.index('Ford')

4

So, the item `'Ford'` exists at the `index = 4` in the `my_cars` list.

---

#### Task 6: Removing an Item

Let's say you sold your `'Bentley'` car to your friend. So, you will have to remove it from the list of your cars. 

To remove an item from a list, use the `remove()` function followed by the item that you wish to remove:


**Syntax:** `list_name.remove(item)`

In [ ]:
# S6.1: Remove 'Bentley' from the 'my_cars' list.
my_cars.remove('Ford')
print(my_cars)

['Chrysler', 'Lamborghini', 'Bugatti', 'Porsche', 'Rolls Royce', 'Suzuki', 'Bentley', 'Lexus', 'Tesla']

Now, `'Bentley'` is not part of `my_cars` list anymore.

In [ ]:
my_cars.pop(5)

'Suzuki'

---

#### Task 7: Item Replacement

You can replace an existing item in a list with a new item. Suppose I exchanged my `Suzuki` car with a `McLaren` car. So, I need to update `my_cars` list accordingly.

To replace an item, first get the index of that item. Then using the list indexing method, replace the existing item with the new one.

**Syntax:** `list_name[list_name.index('current_item')] = new_item`

**For example:** Replace the item `Suzuki` with `McLaren` in the `my_cars` list.

In [ ]:
# S7.1: Replace 'Suzuki' with 'McLaren' in the 'my_cars' list.
ind = my_cars.index('Lexus')
my_cars[ind] = 'McLaren'

As you can see, the `'Suzuki'` car has been replaced by `'McLaren'` using the list indexing method.


We will stop here. In the next class, we will learn about nested Python lists.

In [ ]:
print(my_cars)

['Chrysler', 'Lamborghini', 'Bugatti', 'Porsche', 'Rolls Royce', 'Bentley', 'McLaren', 'Tesla']

---

In [ ]:
num = int(input())

for i in range(1,11):
  print(num,'x',i,'=',i*num)

12
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

In [ ]:
hei = int(input())

for i in range(hei+1):
  for j in range(hei):
    print(' ',end=' ')
  for k in range(i):
    print('*',end=' ')
  for l in range():
    print(' ',end=' ')
  print()

5

  *
* *
* * *
* * * *
* * * * *

In [ ]:
n = int(input())
fact = 1
for i in range(1,n+1):
  fact *= i
print(fact)

5
120

In [ ]:
le = int(input())
first = 1
second = 1
third = first+second
print(first,' ',second,' ')
for i in range(2,le+1):
  print(third,end=' ')
  first = second
  second = third
  third = first+second

10
1   1
2 3 5 8 13 21 34 55 89

In [ ]:
number = int(input())

rev = 0
while number > 0:
  rev = rev*10 + number%10
  number = number//10
print(rev)

45922
22954